<<<<<<< HEAD
            html {
                scroll-behavior: smooth;
            }
            
            .btn:focus,
            .btn:active:focus,
            .btn.active:focus {
                box-shadow: none !important;
            }
            
            button {
                outline: none;
            }
            
            * {
                padding: 0;
                margin: 0;
            }
            
            body {
                margin: 0;
                padding: 0;
                position: relative;
                background: url('images/neural.jpg');
                opacity: 0.8;
                background-clip: border-box;
                background-attachment: fixed;
                background-size: cover;
                background-repeat: no-repeat;
                color: rgb(70, 16, 16);
                height: 100%;
            }
            
            a {
                cursor: pointer;
                text-decoration: none;
            }
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                text-align: center;
                color: #fff;
            }
            
            .container {
                padding: 0;
                margin: 0;
            }
            
            .bg-steel {
                background-color: #5f788a;
            }
            
            .we-are {
                font-family: 'Open Sans', sans-serif;
                font-weight: 1000;
                font-size: 2em;
                margin-top: 5em;
            }
            
            .about-us {
                position: absolute;
                width: 100vw;
                height: 100vh;
                background-image: url('images/coolest.jpg');
                background-attachment: scroll;
                opacity: 0.9;
                background-size: cover;
                padding-top: 50px;
                left: 0;
                color: inherit;
                text-align: center;
            }
            
            .navbar a {
                stroke: #444444;
            }
            
            .nav-item {
                color: #fff;
            }
            
            .site-header .navbar-nav .nav-link {
                color: #cbd5db;
            }
            
            .site-header .navbar-nav .nav-link:hover {
                color: #ffffff;
            }
            
            .site-header .navbar-nav .nav-link.active {
                font-weight: 500;
            }
            
            .content-section {
                background: #ffffff;
                padding: 10px 20px;
                border: 1px solid #dddddd;
                border-radius: 3px;
                margin-bottom: 20px;
            }
            
            .article-title {
                color: #444444;
            }
            
            a.article-title:hover {
                color: #428bca;
                text-decoration: none;
            }
            
            .article-content {
                white-space: pre-line;
            }
            
            .article-img {
                height: 65px;
                width: 65px;
                margin-right: 16px;
            }
            
            .article-metadata {
                padding-bottom: 1px;
                margin-bottom: 4px;
                border-bottom: 1px solid #e3e3e3
            }
            
            .article-metadata a:hover {
                color: #333;
                text-decoration: none;
            }
            
            .article-svg {
                width: 25px;
                height: 25px;
                vertical-align: middle;
            }
            
            .account-img {
                height: 125px;
                width: 125px;
                margin-right: 20px;
                margin-bottom: 16px;
            }
            
            .account-heading {
                font-size: 2.5rem;
            }
            
            .headimg {
                background-image: url(images/tech20.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                height: 100%;
                min-height: 500px;
                width: 100% 100%;
            }
            
            #intro {
                height: 100%;
            }
            
            #intro {
                background: url(images/tech20.jpg)no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            
            p {
                color: rgba(255, 255, 255);
            }
            
            .head {
                padding-top: 30px;
                text-align: center;
                font-size: 40px;
                color: lightgray;
            }
            
            .masthead {
                height: 100vh;
                min-height: 500px;
                background-image: url(images/tech20.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            
            #event {
                background-image: url('https://mdbootstrap.com/img/Photos/Others/images/81.jpg');
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            
            .fa-facebook {
                background-color: #0b487c;
                margin: 0.5em;
                padding: 1em;
                color: #fff;
            }
            
            .fa-twitter {
                background-color: rgb(56, 181, 219);
                padding: 1em;
                color: #fff;
                margin: 0.5em;
            }
            
            .fa-google {
                background-color: rgb(240, 40, 40);
                padding: 1em;
                color: rgb(255, 255, 255);
                margin: 1em;
            }
            
            .coming-soon {
                width: 100%;
                height: 100%;
            }
            
            .contact-us {
                background-color: #00000046;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 100vw;
            }
            
            footer {
                position: absolute;
                z-index: -1;
                display: table;
                margin-top: 90%;
            }
=======
body {
    background-image: url('images/background2.jpg');
    background-clip: border-box;
    background-size: cover;
    color: rgb(70, 16, 16);
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    color: #fff;
}

.container {
    padding: 0px;
    margin: auto;
}

.bg-steel {
    background-color: #5f788a;
}

.we-are {
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    margin-top: 5em;
}

.about-us {
    background: transparent;
    margin-top: 5px;
    padding: 2%;
    color: inherit;
    max-width: 100%;
    height: 40vh;
    text-align: center;
    z-index: 2;
}

.navbar a {
    stroke: #444444;
}

.nav-item {
    color: #fff;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.headimg {
    background-image: url(images/tech20.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    min-height: 500px;
    width: 100% 100%;
}

#intro {
    height: 100%;
}

#intro {
    background: url(images/tech20.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    color: rgba(255, 255, 255);
}

.head {
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
    color: lightgray;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(images/tech20.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#event {
    background-image: url(https://mdbootstrap.com/img/Photos/Others/images/81.jpg) -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
>>>>>>> 57cba9d8faab96be361a0d21a203fdcf524fe20f
